# Compiled objects files
*.o

# Compiled static libraries
*.a

# Compiled dynamic libraries
*.so

# Compiled execution files
*.exe

# Eclipse .cproject file
.cproject

# Eclipse .project file
.project

# Build directories
/build-EclipseTest-Desktop_Qt_5_14_2_GCC_64bit-Debug/
